PORT=3000
API_PORT=3000
WORKER_PORT=3001
STATS_PORT=3002
REDIS_HOST=localhost
REDIS_PORT=6379
JOB_QUEUE_NAME=jobs:queue
PRIME_LIMIT=100000
PRIME_LIMIT_MAX=1000000
CORS_ORIGIN=*
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=10000
